body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Trebuchet MS', Verdana, Geneva, Helvetica, sans-serif;
  font-size: 1em; line-height: 1.4em; letter-spacing: .01em; word-spacing: 0.1em;
}

header { margin: 0; 
  width: 100%;
  background-color: #FFF; color: #CB2F00; 
}

header > * {
  margin-top: 0; 
}

header > *, main > * {
  margin-left: 20px;
}

main {
  margin-top: 20px;
  margin-right: 20px;
}

nav {
  padding: 4px 20px;
  background-color: #99027A; color: #FFF;
}

nav h2 {
  color: white;
  background-color: inherit;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
  padding: 6px 0;
}

nav ul:after {
  content: url('../img/illus_ghost.png');
  float: right;
  margin-top: -65px;
  margin-right: -20px;
  border-right: solid white 20px;
  border-left: solid white 20px;
  color: inherit; background-color: #FFF;
}

nav li {
  display: inline; 
  margin-left: 0;
  background-color: inherit; 
  color: #FFF;
}

#nav li:before {
  content: " / ";
  background-color: #99027A; color: #FFF;
  font-size: 1.4em;
  font-weight: normal;
}

#nav li:first-child:before {
  content: "";
}

nav a:link { 
  text-decoration: none;
  background-color: transparent; color: #FFF; 
  font-size: 1.2em;
}
nav li.active a { border-bottom: 2px solid #FFF; }
nav a:visited {
  background-color: transparent; color: #FFF; 
}
nav a:hover, a:focus { 
  background-color: #99027A; color: #FEC341; 
  text-decoration: none;
  border-bottom: 2px solid #FEC341;
}

.news {
  color: inherit; background-color: #FFB523;
  padding: 10px 20px 10px 10px;
}


.news > * {
  margin-left: 156px;
}

.news h2 {
  margin-top: 4px;
}

.about {
  margin-bottom: 30px;
}

.news img:first-of-type, .about img:first-of-type {
  float: left; 
  margin-left: 0;
  margin-right: 10px;
}

.about img:first-of-type {
  margin-right: 10px;
  margin-bottom: 10px;
}

.contrib {
  display: block;
  clear: both;
  border-top: 1px dotted #666;
}

.contrib article {
  width: 29%;
  float: left;
  margin-right: 30px;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Open Sans', sans-serif;
}
h1, h4, h5, h6 { background-color: transparent; color: #CB2F00; 
}

h1 { 
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 1.4px; 
  font-size: 3em; 
}

h1 a, h1 a:hover, h1 a:focus {
  padding: 0;
  color: transparent;
  background-color: inherit;
}

h2 { margin-top: 24px;
  color: #99027A;  /*#970279*/
}

.news h2, .news h3, .news h4 {
  color: #000; 
  background: transparent;
}

a:link { background-color: transparent; color: #CB2F00; }
a:visited { background-color: transparent; color: #000080; }
a:hover, a:focus { background-color: #99027A; color: #FFF; text-decoration: none;}

.toplinks {
  background-color: #99027A; color: #FFF;
  margin-left: 0px;
  border-left: 20px solid #99027A;
  padding-top: 4px; padding-bottom: 4px;
}

a.skiplink, a.langlink, a.skiplink:visited, a.langlink:visited { 
  background-color: transparent; color: #FFF; 
  text-decoration: none;
}
a.skiplink:hover, a.skiplink:focus, a.langlink:hover, a.langlink:focus { 
  color: #FEC341; 
  border-bottom: 2px solid #FEC341;
}

a.imgurl:hover, a.imgurl:focus { text-decoration: none; background: transparent; } 

p.illus {
  text-align: center;
}

footer {
  display: block;
  margin-top: 100px;
  clear: both;
}

footer > * {
  margin-bottom: 0;
}

footer > div {
  padding: 10px 0;
  background-color: #99027A; color: #FFF;
}

footer > div > p > span:first-of-type {
  font-size: 1.5em;
  padding: 0 20px;
  border-right: 2px dotted #FFF;
}

#legal {
  margin-top: 0;
  padding: 10px;
  text-align: center;
  background-color: #4D4D4D;
  color: #FFF;
}

footer > div > p > span:last-of-type {
  padding-left: 10px; 
}

footer > div > p > span:last-of-type a, #legal a {
  background-color: transparent;
  color: #FFF;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #999;
  padding: 0.2em;
}

.surname {
  text-transform: uppercase;
}

