body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Trebuchet MS', Verdana, Geneva, Helvetica, sans-serif;
  font-size: 1em; line-height: 1.4em; letter-spacing: .01em; word-spacing: 0.1em;
}

header { margin: 0; 
  width: 100%;
  background-color: #FFF; color: #CB2F00; 
}

header > * {
  margin-top: 0; 
}

header > *, main > * {
  margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 { background-color: transparent; color: #CB2F00; 
  font-family: 'Open Sans', sans-serif;
}

h1 { padding-bottom: 0;
  letter-spacing: 1.4px; 
  font-size: 3em; 
}

h2 { margin-top: 24px;
}

a:link { background-color: transparent; color: #CB2F00; }
a:visited { background-color: transparent; color: #000080; }
a:hover, a:focus { background-color: #99027A; color: #FFF; text-decoration: none;}

.toplinks {
  background-color: #99027A; color: #FFF;
  margin-left: 0px;
  border-left: 20px solid #99027A;
  padding-top: 4px; padding-bottom: 4px;
}

a.skiplink, a.langlink, a.skiplink:visited, a.langlink:visited { background-color: transparent; color: #FFF; font-weight: bold; z-index: 1; }
a.skiplink:hover, a.skiplink:focus, a.langlink:hover, a.langlink:focus { color: #FFF; font-weight: bold; }

a.imgurl:hover, a.imgurl:focus { text-decoration: none; background: transparent; } 


footer {
  margin-top: 40px;
}

footer > * {
  margin-bottom: 0;
}

footer > div {
  padding: 10px;
  background-color: #99027A; color: #FFF;
}

footer > div > p > span:first-of-type {
  font-size: 1.5em;
  padding: 0 20px;
  border-right: 2px dotted #FFF;
}

#legal {
  margin-top: 0;
  padding: 10px;
  text-align: center;
  background-color: #4D4D4D;
  color: #FFF;
}

footer > div > p > span:last-of-type {
  padding-left: 10px; 
}

footer > div > p > span:last-of-type a, #legal a {
  background-color: transparent;
  color: #FFF;
}

/* temp colours to test layout */
/*
body div#navigation {border: 1px dotted red; } 
header { background-color: lime; }
main { background-color: #FFFF00; }
footer { background: magenta; } */
